@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
  padding: 0%;
  margin: 0%;
 
  font-size: 25px;

}
body{
  overflow-x: hidden;
}
main{
  margin-top: 70px;
  background-color: #303041;
}
p{
  width: 300px;
}
nav{
  background-color: #303041;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  z-index: 99;
}
nav ul{
  margin: auto;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  
}
nav ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'proxima nova';
  font-weight: lighter;
  font-size: 30px;
}
nav ul li a:active{
  color: #0EA2F6;
  font-family: 'proxima nova';
  font-weight: bold;
}
h1,h2,span,h3,h4,p{
  position: relative;
  font-family: 'proxima nova';
  font-weight: bold;
  color: #3D3A50;
  font-size: 120px;
  z-index: 2;
}
#hero{
  padding-top: 50px;
  padding-left: 200px;
  padding-bottom: 50px;
  
}
h2{
  color: #FFFFFF;
}
.designer{
  width: 98.5vw;
  left: 0;
  top: 150px;
  z-index: 1;
  position: absolute;
}
span{
  color: #0EA2F6;
}
button{
  background-color: #0EA2F6;
  color: #FFFFFF;
  margin: auto;
  margin-top: 50px;
  font-weight: bold;
  width: 330px;
  height: 60px;
  border: none;
  position: relative;
  z-index: 3;
}
#about{
  background-color: #3D3A50;
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  
}
.title{
  width: 100%;
  position: relative;
}
#about h1{
  margin: auto 0;
  font-size: 80px;
  color: #0EA2F6;
  position: relative;
  z-index: 2;
}
#about h2{
  top: 50px;
  left: 50%;
  margin: auto 0;
  font-size: 150px;
  transform: translate(-50%,-50%);
  color: #303041;
  position: absolute;
  z-index: 1;
}
.about-image{
  width: 50%;
  position: relative;
}
.ayoub-img{
  width: 332px;
  position: relative;
  z-index: 5;
}
.rectangle-img{
  width: 332px;
  position: absolute;
  top: 15px;
  left: 230px;
  z-index: 4;
}
.main{
  display: flex;
  margin-top: 100px;
}
.content{
  width: 505px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3,h4{
  font-weight: normal;
  color: #FFFFFF;
  font-size: 25px;
}
.ayoub-khenfouf-text{
  font-size: 25px;
}
.sm-icons{
  display: flex;
  justify-content: space-between;
}
.sm-icons img{
  width: 50px;
}
#skills{
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  
}
#skills h1{
  margin: auto 0;
  font-size: 80px;
  color: #0EA2F6;
  position: relative;
  z-index: 2;
}
#skills h2{
  top: 50px;
  left: 50%;
  margin: auto 0;
  font-size: 150px;
  transform: translate(-50%,-50%);
  color: #3D3A50;
  position: absolute;
  z-index: 1;
}
.cards{
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px 400px; 
  gap: 20px 30px;
  justify-content: center;
  margin-top: 50px;
}
.skill-card{
  border: 2px solid #3D3A50;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.skill-card h4{
  font-size: 40px;
  font-weight: bold;
}
.skill-card p{
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}
.skill-card img{
  width: 80px;
}
#projects{
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  margin-bottom: 100px;
}
#projects h1{
  margin: auto 0;
  font-size: 80px;
  color: #0EA2F6;
  position: relative;
  z-index: 2;
}
#projects h2{
  top: 50px;
  left: 50%;
  margin: auto 0;
  font-size: 150px;
  transform: translate(-50%,-50%);
  color: #3D3A50;
  position: absolute;
  z-index: 1;
}
.projects-scrolling-cards{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0px 0px 20px;
}
.project-card{
  background-color: #3D3A50;
  width: 360px;
  height: 320px;
  position: relative;
  margin: 10px;
}
.project-card img{
  height: 290px;
  position: absolute;
  bottom: 0%;
  left: 25%;
}
#contact{
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  background-color: #0EA2F6;
}
#contact h1{
  color: #FFFFFF;
  font-size: 80px;
}
#contact h2{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
}
.contact-infos{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0px 0px 20px;
}
.contact-infos p{
  margin-top: 50px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 20px;
}
footer{
  background-color: #303041;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  position: relative;
}
footer p{
  color: #FFFFFF;
  font-weight: normal;
  font-size: 20px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
footer div img{
  margin: 10px;
}